html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #e2f4fe;
  color: #000;
}

#image-gallery {
  text-align: center;
  margin-bottom: 2em;
}

#gallery-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#gallery-thumbnails img {
  margin: 2em;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#view-all-images {
  margin-top: 1em;
  padding: 0.5em 1.5em;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.3s ease-in-out;
}

#more-info {
  margin-top: 1em;
  padding: 0.5em 1.5em;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.3s ease-in-out;
}

#more-info:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

#view-all-images:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.property-container {
  display: flex;
  gap: 20px;
  margin-bottom: 2em;
  padding: 0 1em;
}

#property-info {
  flex: 2;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
}

#slogan {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#address-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

#property-address {
  font-size: 1.2em;
  font-weight: 500;
}

#property-description {
  font-size: 1em;
  color: #000;
}

#brief-info {
  flex: 1.3;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
}

#property-price {
  font-weight: bold;
  font-size: 1.5em;
}

#property-beds-baths-sqft {
  font-size: 1em;
}

.icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

#developer-name {
  font-style: italic;
}

#similar-homes {
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 2em;
}

#similar-homes h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}
